
:root { 
  --primary: #310a90; 
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%); 
  --white: #ffffff; 
  --gradient: linear-gradient(45deg, #72edf2 0%, #5151e5 100%); 
  --headline1: 700 5.9375rem/9.6068754196167rem Poppins; 
  --headline2: 700 3.6875rem/5.96637487411499rem Poppins; 
  --headline3: 700 3rem/4.854000091552734rem Poppins; 
  --headline4: 700 2.125rem/3.4382500648498535rem Poppins; 
  --headline5: 700 1.5rem/2.427000045776367rem Poppins; 
  --body1: 400 1rem/1.6180000305175781rem Poppins; 
  --body2: 400 0.875rem/1.4157500267028809rem Poppins; 
  --button: 700 0.875rem/1.4157500267028809rem Poppins; 
  --caption: 400 0.75rem/1.2135000228881836rem Poppins; 
  
}

body {
  font: var(--body1);
  background: var(--gradient);
  

}

h1{
  font: var(--headline1);
  color: var(--primary);
}

h2{
  font: var(--headline2);
}

.letra{
  font-size: 20px;
  color: var(--primary);

}

p{
  font: var(--button);
  color: white;
  font-size: 16px;
}

h3{
  margin-top: 50px;
  font-size: 40px;
  color: var(--primary);

}


h4{
 margin-top: 50px;
 font-size: 30px;
 color: var(--primary);


}

h5{
  
  font: var(--button);
  font-size: 25px;
}

.menu li{
  display: inline-block;
  margin: 10px;
  font-size:  20px;
  margin-top: 50px;

}

  .a{
    color: var(--primary); 
    margin-top: 26px;
    margin-left: 185px;
    font-size: 15px;
}

.menu li a{
  color: white;
  text-decoration: blue;

}

.boton{
  background: var(--primary);
  margin-top: 10px;
  color: white;
  margin-left: 190px;
  padding: 10px;
  margin-top: 40px;

}

.boton2{

  background: var(--primary);
  color: white;
  font-size: 10px;
  margin-left: 190px;
  padding: 10px;
  
}


.boton3{

  background: var(--primary);
  margin-top: 90px;
  color: white;
  font-size: 50px;
  margin-left: 178px;
  padding: 10px;
  width: 480px;
  height: 15%;
}

.boton4{
 
  background: var(--primary);
  color: white;
  border-radius: 10px;
  margin-left: 190px;
  margin-right: 25px;
  width: 160px;
  height: 15%;
  font: var(--button);


}

.boton5{
  background: none;
  border-color: var(--primary);
  border-radius: 10px;
  border-width: 2px;
  color: var(--primary);
  width: 120px;
  height: 15%;
  font: var(--button);


}

.boton6{
  background: var(--primary);
  margin-top: 400px;
  color: white;
  font-size: 50px;
  margin-left: 178px;
  padding: 10px;
  width: 256px;
  height: 10%;
}
.boton7{
  background: var(--primary);
  color: white;
  border-radius: 10px;
  margin-left: 177px;
  margin-right: 25px;
  width: 160px;
  height: 7%;
  font: var(--button);
}
.boton8{
  background: none;
  border-color: var(--primary);
  border-radius: 10px;
  border-width: 2px;
  color: var(--primary);
  width: 160px;
  height: 7%;
  font: var(--button);
}

}

}


.letra{
  width: 20px;
}

.comentarios{
  background: var(--primary);

  font: var(--button);
    margin-top: 90px;
    color: white;
    font-size: 35px;
    padding: 10px;
    width: 360px;

}

.borde{
  border: 5px solid white;
  background: solid blue;
  border-radius: 20px;
  margin-top: 90px;
  color: white;
  margin-left: 178px;
  padding: 120px;
  width: 72%;
  height: 15%;
}

.icono{
  width: 100px;
  margin-left: 300px;
  margin-top: -140px;

}

.descripcion{
  text-align: center;
  font-size: 22px;
  color: var(--primary);

}

.pagina{
  font-size: 24px;
  color: var(--primary);
}

.ipad{
  margin-top: 200px;
}

.pagina2{
  font-size:32px;
  color: var(--primary);
  text-align: center;
}